
.avatarHome:hover { 
  -webkit-box-shadow: 2px 11.5px 46px rgba(255,255,255,.35);
  box-shadow: 2px 11.5px 46px rgba(255,255,255,.35);
}

.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 3rem;
}

.container a {
  font-size: 1.4rem;
  display: block;
  text-align: left;
}

.containerEntity {
	position: fixed;
	right: 0px;
	padding-right: 30px;
	padding-top: 30px;
}
.containerEntity:hover{
  color: #fff;
  cursor: pointer;
}
.containerEntity p {
  margin: 0.1rem 0px;
  text-align: center;
  padding-right: 20px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}