@import '../node_modules/font-awesome/css/font-awesome.css';

html{
  position: relative;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7));
}
body {
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.full{
  width: calc(100% - 26px)!important
}
.none{
  display: none
}

.formControl {
    display: block;
    width: 300px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #111;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .15rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.formControl:focus{
    color: #111;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.25);
}

.content{
  position: absolute;
  top: 80px;
  left: 30px;
  right: 30px;
  bottom: 0px;
}

.list{
  right: 140px!important;
}

.content a {
  font-size: 1.4rem;
  display: block;
  text-align: left;
}

.fluid{
  position: relative;
  overflow-y: auto;
  height: calc(100vh - 121px);

}

.fluidForm{
  position: relative;
  overflow-y: auto;
  height: calc(100vh - 94px);
}